<style>
    .tableFixHead {
       overflow-y: auto;
       overflow-x: auto;
       height: 700px;
       width: 100%;
    }
    .tableFixHead thead th {
       position: sticky;
       top: 0;
    }
    .tableFixHead th {
       background: #dadada;
    }
    .tableFixHead th[scope = "a"] {
       background: Yellow;
       text-align: center;
    }
    .tableFixHead th[scope = "b"] {
       background: #00FFFF;
       text-align: center;
    }
    table tr td {
	   overflow-wrap: break-word;
       vertical-align: top;
       text-align: left;
    }

</style>
 
#set($Integer = 0 )
##Export excel button widget servlet parameters
##   <div class="polarion-rp-widget-part" data-widget="ExportExcelButton">   
##<input type="text" id="myInput"  placeholder="Keyword Search" title="Keyword Search"> <br>
    <span class="polarion-rp-widget-parameters">
        <sub id="tableid">dfmea</sub>
        <sub id="tableclass">polarion-rpw-table-content</sub>
        <sub id="rowstartpos">0</sub>
        <sub id="colstartpos">0</sub>
        <sub id="mergedcells">true</sub>
        <sub id="filename">dFMEA Report(Design Failure Modes and Effects Analysis Report)</sub>
    </span>
    </div> 
##start of table

<div class="tableFixHead">
<table class="polarion-rpw-table-content" border="2px" id="dfmea" width="100%">
	<thead>
  		<tr bgcolor=#E3E4FA>                        
         <tr> ##bgcolor=#E3E4FA
                                ##Table headers                   
  			<th width ="1%"  rowspan = 2>Design Risk ID</th>
			<th width ="1%"  rowspan = 2>Function</th>
			<th width ="1%"  rowspan = 2>Potential Failure Mode</th>
			<th width ="2%"  rowspan = 2>Potential Causes of Failure</th>
			<th width ="5%"  rowspan = 2>Potential Effects of Failure on Product</th>
			<th width ="5%"  rowspan = 2>MHES ID</th>
			<th width ="5%"  rowspan = 2>Standard Hazard</th>
			<th width ="5%"  rowspan = 2>Hazardous Situation/ Foreseeable Sequence of Events</th>
			<th width ="2%"  rowspan = 2>Harm </th>
			<th width ="2%" scope="a"  colspan = 5>Pre-Mitigation </th>
			<th width ="1%" rowspan = 2>Risk Control Measures (i.e. Safety Requirements)</th>
			<th width ="3%" rowspan = 2>Additional Risk generated by Risk Control Measures? </th>
			<th width ="2%" scope="b"  colspan = 4>Post-Mitigation </th>
			<th width ="2%" rowspan = 2>Benefit Risk Analysis (BRA)</th>
		</tr>
		<tr>
			<th width ="1%" scope="a">Severity </th>
			<th width ="2%" scope="a">P1</th>
			<th width ="2%" scope="a">P2</th>
			<th width ="2%" scope="a">POH (P1XP2)</th>
			<th width ="1%" scope="a">Risk Level</th>
			<th width ="2%" scope="b">P1</th>
			<th width ="2%" scope="b">P2</th>
			<th width ="2%" scope="b">POH (P1XP2)</th>
			<th width ="1%" scope="b" >Risk Level</th>
		</tr>     
    </thead>
	
    <tbody>
    		#set($projectId = $page.reference.projectId)
			#set($wi = $trackerService.queryWorkItems("project.id:$projectId AND type:riskrecord AND subType.KEY:design","id"))
            #foreach($riskRec in $wi)
        <tr>
            <td>$transaction.workItems().getBy.oldApiObject($riskRec).fields.id.render.withLinks</td>
			
        ##Function
            <td>
            #set($wiId = $riskRec.getId())
            #set($linkQuery = "project.id:$projectId AND type:function AND linkedWorkItems:$wiId")
            #set($_wi = $trackerService.queryWorkItems($linkQuery , "id"))
            	#if($_wi.size() != 0)
                	#foreach($function in $_wi)
                		$transaction.workItems().getBy.oldApiObject($function).render.withLinks().withTitle()
                	#end
	           	#else
                	<p style = "color:red" >Not Linked</p>
            	#end
            </td>
			
        ##Failure Mode
            <td>
         	#set($linkQuery = "project.id:$projectId AND type:failuremode AND  linkedWorkItems:$wiId")
            #set($_wi = $trackerService.queryWorkItems($linkQuery , "id"))
				#if($_wi.size() != 0)
            		#foreach($failuremode in $_wi)
						$transaction.workItems().getBy.oldApiObject($failuremode).render.withLinks().withTitle()
                	#end
				#else
					<p style="color:red">Not Linked</p>
				#end
            </td>
			
        ##Cause Of Failure
            <td>
           	#set($linkQuery = "project.id:$projectId AND type:causeoffailure AND  linkedWorkItems:$wiId")
            #set($_wi = $trackerService.queryWorkItems($linkQuery , "id"))
				#if($_wi.size() != 0)
            		#foreach($causeofFailure in $_wi)
						<p>$transaction.workItems().getBy.oldApiObject($causeofFailure).render.withLinks().withTitle()</p>
                    	#set($effects =  $transaction.workItems().getBy.oldApiObject($causeofFailure).fields.get("potentialEffects").render)
                	#end
				#else
					<p style="color:red">Not Linked</p>
                #end
            </td>
			
        ##Potential Effects
            <td>
                #if($_wi.size() != 0)
					$effects
				#else
					<p></p>
				#end
            </td>
            
        ##Hazardous Situation-MHES ID
            <td>
          	#set($linkQuery = "project.id:$projectId AND type:hazardousSituation AND  linkedWorkItems:$wiId")
            #set($_wi = $trackerService.queryWorkItems($linkQuery , "id"))
            #if($_wi.size() != 0)
            	#foreach($hazardous_situation in $_wi)
					#set($hs = $transaction.workItems().getBy.oldApiObject($hazardous_situation).render.withLinks().withTitle())
					$transaction.workItems().getBy.oldApiObject($hazardous_situation).fields.get("mhesID").render
                #end
			#else
				<p></p>
			#end
			</td>
        
		##Hazard
            <td>
          	#set($linkQuery = "project.id:$projectId AND type:hazard AND  linkedWorkItems:$wiId")
            #set($_wi = $trackerService.queryWorkItems($linkQuery , "id"))
            #if($_wi.size() != 0)
            	#foreach($hazard in $_wi)
					$transaction.workItems().getBy.oldApiObject($hazard).render.withLinks().withTitle()
               #end
            #else
            	<p style="color:red">Not Linked</p>
            #end
            </td>
        
		##Hazardous Situation
            <td>
            #if($_wi.size() != 0)
				$hs
            #else
            	<p style="color:red">Not Linked</p>
            #end
            </td>
            
		##harm
            <td>
            	#set($linkQuery = "project.id:$projectId AND type:harm AND linkedWorkItems:$wiId")
				#set($_wi = $trackerService.queryWorkItems($linkQuery , "id"))
				#if($_wi.size() != 0)
            		#foreach($harm in $_wi)
						$transaction.workItems().getBy.oldApiObject($harm).render.withLinks().withTitle()
                	#end
				#else
					<p style="color:red">Not Linked</p>
                #end
            </td>
        
		##Harm Severity
            <td>
				#if($_wi.size() != 0)
            		#foreach($harm in $_wi)
                		#set($_severity = $transaction.workItems().getBy.oldApiObject($harm).fields.get("harmSeverity"))
							$_severity.render
                    #end
				#else
					<p style="color:red">Not Linked</p>
               #end
			</td>
		                    

		##Pre-Mitigation P1
            <td>$transaction.workItems().getBy.oldApiObject($riskRec).fields.get("pre_probHazp1").render</td>
				 #if($transaction.workItems().getBy.oldApiObject($riskRec).fields.get("pre_probHazp1").get().id() != "")
                 	#set($p1String = $transaction.workItems().getBy.oldApiObject($riskRec).fields.get("pre_probHazp1").get().id())      
            		#set($p1 = $Integer.parseInt($p1String))            
            	#else
            		#set($p1 = "")
                #end
       
        ##Pre-Mitigation P2
            <td>$transaction.workItems().getBy.oldApiObject($riskRec).fields.get("pre_probHazp2").render</td>
              #if($transaction.workItems().getBy.oldApiObject($riskRec).fields.get("pre_probHazp2").get().id() != "")
              	#set($p2String = $transaction.workItems().getBy.oldApiObject($riskRec).fields.get("pre_probHazp2").get().id())      
            	#set($p2 = $Integer.parseInt($p2String))
            #else
           		#set($p2 = "")
            #end
        ##Pre-Mitigation POH
        		#if($p1 == "" || $p2 == "")
                    #set($poh = "")
                #else
           	    	#set($poh = $p1*$p2)
            		#if($p1 < $p2 && $p1 == 2)
						#set($poh = $poh/$p2)
                	#elseif($p1 == 1)
						#set($poh =1)
                	#elseif($p1 == $p2)
						#set($poh = $p1)
                	#elseif($p2 < $p1)
						#set($poh = $poh/$p2)
                	#else
                     	#set($poh = $poh/$p1)
                  	#end
                #end
            <td>$transaction.enumerations().getEnumeration("riskrecord-p1").forProject($projectId).byId("$poh").label</td>
        
        ##Risk Level
   				#set($_severity = $_severity.get().id())
                ##if($_severity == 0 || !$_severity)
                #set($riskLevel = "")
             ##   #else
                #set($_severity = $Integer.parseInt($_severity))
                #set($riskLevel=$poh*$_severity)
				#if($_severity<$poh)
					#set($riskLevel = $riskLevel/$_severity)
                #else
					#set($riskLevel = $riskLevel/$poh)
                #end
                ###end
              
          ##  <td >
                #if($riskLevel == 5)
					<td style="background-color:#ff8080">High</td>
                #elseif($riskLevel <=4 && $riskLevel >= 3)
					<td style="background-color:#00cc00">Medium</td>
   				#elseif($riskLevel <=2 && $riskLevel >= 1)
					<td style="background-color:#00cc00">Low</td>
                    #else
                    <td></td>
                #end
         ##   </td>
                
        ##Risk Control Measures
				#set($linkQuery = "project.id:$projectId AND type:riskcontrol AND linkedWorkItems:$wiId")
				#set($_wi = $trackerService.queryWorkItems($linkQuery , "id"))
            <td>
				#if($_wi.size() != 0)
               	#foreach($riskControl in $_wi)
					$transaction.workItems().getBy.oldApiObject($riskControl).fields.get("riskControlMeasure").render
                #end
				#else
					<p style="color:red"></p>
                #end
            </td>
			
		##additionalRiskgenerated  BY Risk Control Measures
			<td>
				#if($_wi.size() != 0)
               	#foreach($riskControl in $_wi)
					$transaction.workItems().getBy.oldApiObject($riskControl).fields.get("additionalRisk").render
                #end
				#else
					<p style="color:red"></p>
                #end
            </td>     
               
    	##post-Mitigation P1
            <td>$transaction.workItems().getBy.oldApiObject($riskRec).fields.get("post_probHazp1").render</td>
			#if($transaction.workItems().getBy.oldApiObject($riskRec).fields.get("post_probHazp1").get().id() != "")
               	#set($p1String = $transaction.workItems().getBy.oldApiObject($riskRec).fields.get("post_probHazp1").get().id())      
               	#set($post_p1 = $Integer.parseInt($p1String))
            #else
               	#set($post_p1 = "")
            #end
       
        ##post-Mitigation P2
            <td>$transaction.workItems().getBy.oldApiObject($riskRec).fields.get("post_probHazp2").render</td>
            #if($transaction.workItems().getBy.oldApiObject($riskRec).fields.get("post_probHazp2").get().id() != "")
            	#set($p2String = $transaction.workItems().getBy.oldApiObject($riskRec).fields.get("post_probHazp2").get().id())      
            	#set($post_p2 = $Integer.parseInt($p2String))
           	#else
             	#set($post_p2 = "")
            #end
        ##post-Mitigation POH
        		#if($post_p1 == "" || $post_p2 == "")
                	#set($post_poh = "")
                #else
               		#set($post_poh = $post_p1*$post_p2)
            		#if($post_p1 < $post_p2 && $post_p1 == 2)
						#set($post_poh = $post_poh/$post_p2)
                	#elseif($post_p1 == 1)
						#set($post_poh =1)
                	#elseif($post_p1 == $post_p2)
						#set($post_poh = $post_p1)
                	#elseif($post_p2 < $post_p1)
						#set($post_poh = $post_poh/$post_p2)
                	#else
						#set($post_poh = $post_poh/$post_p1)
                	#end
                #end
            <td>$transaction.enumerations().getEnumeration("riskrecord-p1").forProject($projectId).byId("$post_poh").label</td>
        
        ##Risk Level
   				#set($_severity = $_severity.get().id())
                ##if($_severity == 0 || !$_severity)
                #set($riskLevel = "")
             ##   #else
                #set($_severity = $Integer.parseInt($_severity))
                #set($riskLevel=$post_poh*$_severity)
				#if($_severity<$post_poh)
					#set($riskLevel = $riskLevel/$_severity)
                #else
					#set($riskLevel = $riskLevel/$post_poh)
                #end
                ###end
              
            ##<td>
                #if($riskLevel == 5)
					<td style="background-color:#ff8080">High</td>
                #elseif($riskLevel <=4 && $riskLevel >= 3)
					<td style="background-color:#4dff4d">Medium</td>
   				#elseif($riskLevel <=2 && $riskLevel >= 1)
					<td style="background-color:#4dff4d">Low</td>
                    #else
                    <td></td>
                #end
          ##  </td>
               
        ##Benifit Risk Analysis
            <td>$transaction.workItems().getBy.oldApiObject($riskRec).fields.get("benefitRisk").render</td>
             
        </tr>
        #end
	</tbody>      
</table>
</div>